@import "bourbon/bourbon"

$color-white: #FFFFFF
$color-blue: #00ACD7
$color-red: #AA2528
$color-light-blue: #40FFFF
$size-24px: 1.5em
$size-21px: 1.313em
$size-20px: 1.25em
$size-18px: 0.9em
$size-16px: 0.8em
$size-14px: 0.7em
=ff($ff)
  font-family: $ff
$f-Black: 'FiraSans-Black', sans-serif
$f-Bold: 'FiraSans-Bold', sans-serif
$f-Light: 'FiraSans-Light', sans-serif
$f-LightItalic: 'FiraSans-LightItalic', sans-serif
$f-Medium: 'FiraSans-Medium', sans-serif
$f-Regular: 'FiraSans-Regular', sans-serif
$f-MPR: 'MyriadPro-Regular', sans-serif