@import "bourbon/bourbon"
@import "fonts"
@import "libs"
@import "vars"
@import "../libs/bootstrap-grid/css/bootstrap-grid"

*
  box-sizing: border-box

body
    font-size: 18px
    position: relative
    line-height: normal
    font-family: $f-Regular
    overflow: auto
    color: #000
    background-color: #fff
    background-repeat: no-repeat
    background-position: center
    height: 100vh
    padding: 0

h2
  font-family: $f-Bold
  font-size: $size-24px
  color: $color-red
  text-transform: uppercase
  font-weight: normal

h5
  font-family: $f-Bold
  font-size: $size-18px
  font-weight: normal

.f-24-light
  font-family: $f-Light
  font-size: $size-24px
  font-weight: normal

.f-24-bold
  font-family: $f-Bold
  font-size: $size-24px
  color: #000
  font-weight: normal

.f-24-medium
  font-family: $f-Medium
  font-size: $size-24px
  color: #000
  font-weight: normal

.f-16-medium
  font-family: $f-Medium
  font-size: $size-16px
  color: #000
  font-weight: normal

.f-18px
  font-size: $size-18px

.f-14px
  font-size: $size-14px

.f-20-light
  font-size: $size-20px
  font-family: $f-Light
  font-weight: normal

.m-t-b-0
  margin:
    top: 0
    bottom: 0

.m
  margin: 10px

.p-l-r-0
  padding: 0

.m-b-0
  margin-bottom: 0

.m-t-15
  margin-top: 0.75em

.m-t
  margin-top: 0.5em

.m-t-minus
  margin-top: -2em

.p-l-r
  padding: 0 5em

.p-t
  padding-top: 1.5em

.center
  display: block
  margin: auto

.text-center
  text-align: center

.text-left
  text-align: left

.b-2-bg
  background:
    image: url(../img/bg_1.jpg)
    position: center top
    size: cover

.b-3-bg
  background:
    image: url(../img/bg_2.jpg)
    position: center top
    size: cover

.border
  border-radius: 50px
  border: 2px solid white

@import "media"
// Всегда в конце
// ss ff ff