@charset "UTF-8"
@import "bourbon/bourbon"
@import "fonts"
@import "libs"
@import "vars"
@import "../libs/bootstrap-grid/css/bootstrap-grid"


@function get-vw($object)
    $vw: (1920 * 0.01) * 1px
    @return ($object / $vw) * 1vw

@function get-vh($object)
    $vh: (974 * 0.01) * 1px
    @return ($object / $vh) * 1vh

@function get-rem($pixels, $context: $browser-context)
    @return #{$pixels/$context}rem

*
    box-sizing: border-box

.prostamol-instruction
  body
  //font-size: calc(#{get-vw(18px/2)} + #{get-vh(18px/2)})
  font-size: $size-18px
  position: relative
  line-height: normal
  font-family: $f-Regular
  color: #333333
  background-color: #fff
  background-repeat: no-repeat
  background-position: center
  height: 100vh
  padding: 0
  text-align: center
  overflow-x: hidden
  h2
      font-family: $f-Bold
      font-size: $size-24px
      color: $color-red
      text-transform: uppercase
      margin-top: 45px
      font-weight: normal
  h5
      font-family: $f-Bold
      font-size: $size-18px
      font-weight: normal

  .f-24-light
      font-family: $f-Light
      font-size: $size-24px
      font-weight: normal

  .f-18-light
      font-family: $f-Light
      font-size: $size-18px

  .f-24-bold
      font-family: $f-Bold
      font-size: $size-24px
      color: #000
      font-weight: normal

  .f-24-medium
      font-family: $f-Medium
      font-size: $size-24px
      color: #000
      font-weight: normal

  .f-16-medium
      font-family: $f-Medium
      font-size: $size-16px
      color: #000
      font-weight: normal

  .f-18px
      font-size: $size-18px

  .f-14px
      font-size: $size-14px

  .f-20-light
      font-size: $size-20px
      font-family: $f-Light
      font-weight: normal

  .m-t-b-0
      margin:
          top: 0
          bottom: 0

  .m-t-b-10
      margin: 30px 0

  .m
      margin: 10px

  .m-a
      margin: auto

  .p-l-r-0
      padding: 0

  .m-b-0
      margin-bottom: 0

  .m-b-10
      margin-bottom: 30px

  .m-b-5
    margin-bottom: 20px

  .p-b-1
    padding-bottom: 1rem

  .m-t-15
      margin-top: 0.75em

  .m-t
      margin-top: 0.5em

  .m-t-minus
      margin-top: -2em

  .p-l-r
      padding: 0 5rem

  .p-t
      padding-top: 1.5em

  .center
      //display: block
      width: 80%
      height: auto

  .text-center
      text-align: center

  .text-left
      text-align: left

  .text-right
      text-align: right

  .b-2-bg
      background:
          image: url(/../img/bg_1.jpg)
          position: center top
          size: cover

  .b-3-bg
      background:
          image: url(/../img/bg_2.jpg)
          position: center top
          size: cover

  .border
      border-radius: 50px
      border: 2px solid white

  .b-5-p
      padding: 2em 1em 4em 1em

  .hr-line
      border: none
      height: 1px
      background-color: #eceef0

  .hr-line-radius
      border-radius: 5px

  .bigNumber
      font-size: 114px
      font-family: $f-Black
      color: #FFFFFF
      padding-left: 30px

  .roundedRect
      display: block
      background: #ECF0F6
      border: none
      border-radius: 100px
      font-family: $f-Regular
      //padding: auto 0px
      margin: 30px 0
      height: 136px

  .circles--right
    float: right

  .textInRoundeRect
      min-height: 150px
      font-size: $size-20px


  .textInBricks
      min-height: 135px
      font-size: $size-20px

  .textWidth
    width: 200px

  .button
    display: inline-block
    text-decoration: none
    background: #E5E5E5
    border: none
    border-radius: 15px
    color: $color-red
    font-size: $size-18px
    font-family: $f-Regular
    padding: 5px 15px
    cursor: pointer
    margin-bottom: 10px

  .flex-column
      display: flex
      flex-direction: column
      align-items: center
      justify-content: flex-start
      min-height: 261px

  .text-aligning
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

  .b-3__img-container
      position: relative
      height: 341px
      margin: 40px 0

  .b-3__img
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 355px
      height: 341px

  .b-3__list
      width: 355px
      height: 341px
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      list-style: none
      padding: 0
      margin: 0

  .b-3__list-item
      font-size: get-rem(20)
      position: absolute
      width: calc(100% + 20px)
      color: rgba(51, 51, 51, .3)
      padding: 0 0 0 66px
      margin: -5px 0 0 0
      border-radius: 50px
      transition: all 400ms ease-in-out 2s
      backface-visibility: hidden
      &--1
          left: 150px
          top: -2px
          padding-top: 5px
          padding-bottom: 5px
      &--2
          left: 298px
          top: 101px
          padding-top: 5px
          padding-bottom: 5px
      &--3
          left: 241px
          top: 271px
          padding-top: 5px
          padding-bottom: 5px
      &--4
          left: -313px
          top: 101px
          padding-top: 5px
          padding-bottom: 5px
      &--5
          left: -257px
          top: 271px
          padding-top: 5px
          padding-bottom: 5px
      &:before
          content: ''
          position: absolute
          left: 0
          top: 50%
          transform: translate(0, -50%)
          width: 56px
          height: 56px
          background-image: url(/../img/circle.png)
          opacity: 0
          visibility: hidden
          transition: all 400ms ease-in-out 2s
      &.text-right
          padding: 5px 66px 5px 10px
          &:before
              left: calc(100% - 56px)
      &:hover
          color: rgba(51, 51, 51, 1)
          background-color: #e1e1e1
          transform: translate3d(0,0,0) perspective(1px)
          transition: all 100ms ease-in-out 0s
          &:before
              opacity: 1
              visibility: visible
              transition: all 100ms ease-in-out 0s
  .b-2--animation1, .b-2--animation2
    opacity: 0

  .b-4--animation1, .b-4--animation2
    opacity: 0

  .hr-animation1, .hr-animation2, .hr-animation3, .hr-animation4
    opacity: 0

  .opacity--Null
    opacity: 0

  .invisible-text
    display: none

  .img--rotated
    transition: all 0.5s
    transform: rotate(90deg)

  .rotated
    transform: rotate(270deg)

  .hover--image
    transition: transform 0.5s ease-out
    &:hover
      transform: scale(1.2)

  .circle-box
    overflow: hidden
    width: 136px
    height: 136px
    border-radius: 50%
    float: right
    transform: translate3d(0, 0, 0)
    img
      transition: all 1s ease-out
      &:hover
        transform: scale(1.2)

  .f-right
    float: right

  .f-left
    float: left

  .clearfix
    &::after
      content: ""
      clear: both
      display: table

  @import "media"

// Всегда в конце
// ss ss