@import "bourbon/bourbon"
@import "fonts"
@import "libs"
@import "vars"
@import "../libs/bootstrap-grid/css/bootstrap-grid"

@function get-vw($object)
    $vw: (1920 * 0.01) * 1px
    @return ($object / $vw) * 1vw

@function get-vh($object)
    $vh: (974 * 0.01) * 1px
    @return ($object / $vh) * 1vh

@function get-rem($pixels, $context: $browser-context)
    @return #{$pixels/$context}rem

*
    box-sizing: border-box

html
    font-size: calc(#{get-vw(18px/2)} + #{get-vh(18px/2)})

body
    font-size: calc(#{get-vw(18px/2)} + #{get-vh(18px/2)})
    position: relative
    line-height: normal
    font-family: $f-Regular
    overflow: auto
    color: #000
    background-color: #fff
    background-repeat: no-repeat
    background-position: center
    height: 100vh
    padding: 0

h2
    font-family: $f-Bold
    font-size: $size-24px
    color: $color-red
    text-transform: uppercase
    font-weight: normal
    margin-top: 45px

h5
    font-family: $f-Bold
    font-size: $size-18px
    font-weight: normal

.f-24-light
    font-family: $f-Light
    font-size: $size-24px
    font-weight: normal

.f-18-light
    font-family: $f-Light
    font-size: $size-18px
    font-weight: normal

.f-24-bold
    font-family: $f-Bold
    font-size: $size-24px
    color: #000
    font-weight: normal

.f-24-medium
    font-family: $f-Medium
    font-size: $size-24px
    color: #000
    font-weight: normal

.f-16-medium
    font-family: $f-Medium
    font-size: $size-16px
    color: #000
    font-weight: normal

.f-18px
    font-size: $size-18px

.f-14px
    font-size: $size-14px

.f-20-light
    font-size: $size-20px
    font-family: $f-Light
    font-weight: normal

.m-t-b-0
    margin:
        top: 0
        bottom: 0

.m-t-b-10
    margin: 30px 0

.m
    margin: 10px

.m-a
    margin: auto

.p-l-r-0
    padding: 0

.m-b-0
    margin-bottom: 0

.m-b-10
    margin-bottom: 30px

.m-b-1
  margin-bottom: 1em

.m-t-15
    margin-top: 0.75em

.m-t
    margin-top: 0.5em

.m-t-minus
    margin-top: -2em

.p-l-r
    padding: 0 5em

.p-t
    padding-top: 1.5em

.center
    display: block
    margin: auto

.text-center
    text-align: center

.text-left
    text-align: left

.text-right
    text-align: right

.b-2-bg
    background:
        image: url(../img/bg_1.jpg)
        position: center top
        size: cover

.b-3-bg
    background:
        image: url(../img/bg_2.jpg)
        position: center top
        size: cover

.border
    border-radius: 50px
    border: 2px solid white

.b-5-p
    padding: 2em 1em 4em 1em

.hr-line
    border: none
    height: 1px
    background-color: #eceef0
    transform: translate(-50%, 0)

.hr-line-radius
    border-radius: 5px

.bigNumber
    font-size: 114px
    font-family: $f-Black
    color: #FFFFFF

.roundedRect
    background: #ECF0F6
    border: none
    border-radius: 100px
    font-family: $f-Regular
    //padding: auto 0px
    margin: 30px 0


.textInRoundeRect
    min-height: 137px
    font-size: $size-20px
//padding: 30px 0

.button
  display: inline-block
  text-decoration: none
  background: #E5E5E5
  border: none
  border-radius: 15px
  color: $color-red
  font-size: $size-18px
  font-family: $f-Regular
  padding: 5px 15px
  cursor: pointer
  margin-bottom: 10px

.flex-column
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    min-height: 261px

.text-aligning
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.b-3__img-container
    position: relative
    height: 341px
    margin: 40px 0

.b-3__img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 355px
    height: 341px

.b-3__list
    width: 355px
    height: 341px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    list-style: none
    padding: 0
    margin: 0

.b-3__list-item
    font-size: get-rem(20)
    position: absolute
    width: calc(100% + 20px)
    color: rgba(51, 51, 51, .3)
    padding: 0 0 0 66px
    margin: -5px 0 0 0
    border-radius: 50px
    transition: all 400ms ease-in-out 2s
    backface-visibility: hidden
    &--1
        left: 150px
        top: -2px
    &--2
        left: 298px
        top: 101px
    &--3
        left: 241px
        top: 271px
    &--4
        left: -313px
        top: 101px
    &--5
        left: -257px
        top: 271px
    &:before
        content: ''
        position: absolute
        left: 0
        top: 50%
        transform: translate(0, -50%)
        width: 56px
        height: 56px
        background-image: url(../img/circle.png)
        opacity: 0
        visibility: hidden
        transition: all 400ms ease-in-out 2s
    &.text-right
        padding: 0 66px 0 10px
        &:before
            left: calc(100% - 56px)
    &:hover
        color: rgba(51, 51, 51, 1)
        background-color: #e1e1e1
        transform: translate3d(0,0,0) perspective(1px)
        transition: all 100ms ease-in-out 0s
        &:before
            opacity: 1
            visibility: visible
            transition: all 100ms ease-in-out 0s
.b-2--animation1, .b-2--animation2
  opacity: 0

.b-4--animation1, .b-4--animation2
  opacity: 0

.hr-animation1, .hr-animation2, .hr-animation3, .hr-animation4
  opacity: 0

.opacity--Null
  opacity: 0

.invisible-text
  display: none

.img--rotated
  transform: rotate(90deg)

.rotated
  transform: rotate(270deg)

//@media only screen and (max-width: 992px)
//@media only screen and (max-width: 1200px)

@import "media"
// Всегда в конце
// ss ff